/* Body Background */
body {
    background: linear-gradient(135deg, #ffc1c1 0%, #ffd6a5 100%); /* Soft gradient */
    color: #333;
}

/* h1 Styling */
h1 {
    color: #4a90e2; /* Soft pastel blue */
    font-size: 3rem;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

/* Intro Text */
#introText p {
    color: #333;
    font-size: 1.2rem;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 1.5rem;
}

/* Button Styling */
#startButton {
    background-color: #4a90e2;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #357ABD; /* Darker blue on hover */
}

/* List Styling */
#instructions ol {
    list-style: none;
    padding-left: 0;
}

#instructions li {
    background: #e6f7ff; /* Very light blue background */
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}
.pulse {
    animation: pulse-animation 1.5s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #ff98a2;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #ff98a2;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

  
